.product-images-slider {
    .swiper-slide {
        padding-top: 70%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding-bottom: 10px;
        }
    }

    .swiper-button-prev {
        left: 30;
        color: rgb(255, 255, 255);
    }

    .swiper-button-next {
        right: 30;
        color: rgb(255, 255, 255);
    }
}

.product-images-slider-thumbs {
    .swiper-slide {
        cursor: pointer;
        border: 0.1px solid gray;

        &-thumb-active {
            border: 2px solid white;
        }
    }

    &-wrapper {
        width: 100%;
        padding-top: 65%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}