@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Aboreto";
    src: url("/public/fonts/Aboreto-Regular.ttf");
}

@font-face {
    font-family: "Andershon";
    src: url("/public/fonts/Andershon-Magnolia.otf");
}

@font-face {
    font-family: "Calibri";
    src: url("/public/fonts/Calibri-Regular.ttf");
}

@font-face {
    font-family: "Century751BT";
    src: url("/public/fonts/Century-751-BT.ttf");
}